textarea {display:block; width:99%; height:6em; border-width:2px 0}
button {width:16%}

#ctrls, #sep {text-align:center}
#ctrls span, #ctrls label {margin:0 0.5em; white-space:nowrap}

#ribbon {
 position: fixed; bottom: 0; left: 0; border: 0;
         transform: rotate(180deg);
      -o-transform: rotate(180deg);
     -ms-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
 -webkit-transform: rotate(180deg);
}
